*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    width: 100vw;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 153, 255);
    font-family: Arial, Helvetica, sans-serif;
   
}
.container{
    background-color: #04f0f0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    height: 350px;
    border-radius: 10px; 
    position: relative;
}
header{
    padding: 30px 20px;
}
header input{
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 8px 16px;

}
.search-bar{
    display: flex;
    gap: 8px;
    /* flex-wrap: wrap; */
}
.search-button img{
    width: 12px;
    height: 12px;
}
.search-button img:hover{
    cursor: pointer;
}
.weather-icons .sun-icon img{
    width: 60px;
    height: 60px;
}
.weather-icons img{
    width: 28px;
    height: 28px;
}
footer{
    position: absolute;
    width: 100%;
     bottom: 1rem;
}
.footer-container{
    border: 1px solid orange;
    display: flex;
    gap: 1rem;
}
.footer-container div{
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    
}